#ui {
  position: fixed;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: rgba(0,0,0,0.65);
  color: white;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}

#ui label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ui {
  pointer-events: auto;
}

a-scene {
  pointer-events: none;
}
